IDNA: avoid defining valid domain string in terms of the parser

This is basically something we need to raise again with the IDNA folks as their document does not really address it. This used to be tracked by https://www.w3.org/Bugs/Public/show_bug.cgi?id=25334.

ABDULLHA 

What kind of phone is it coming  from or what game system

Maybe I'm wrong but aren't valid domains defined in the RFCs below?

- https://www.ietf.org/rfc/rfc1034.txt
- https://www.ietf.org/rfc/rfc1123.txt

The first one saying:

```txt
<domain> ::= <subdomain> | " "
<subdomain> ::= <label> | <subdomain> "." <label>
<label> ::= <letter> [ [ <ldh-str> ] <let-dig> ]
<ldh-str> ::= <let-dig-hyp> | <let-dig-hyp> <ldh-str>
<let-dig-hyp> ::= <let-dig> | "-"
<let-dig> ::= <letter> | <digit>
```

The second one somehow saying that we can start a domain with a figure.

It's not entirely wrong, but those definitions don't account for IDNA and also don't seem to account for ASCII code points that happen to work in practice, such as `_`. What we want is a definition that does account for that, for which, when the host parser defined in the URL standard is applied to it, the output is not failure.

Hi,

a DNS guy here. Allow me to describe this from DNS perspective:

> Maybe I'm wrong but aren't valid domains defined in the RFCs below?
> 
>     * https://www.ietf.org/rfc/rfc1034.txt
> 
>     * https://www.ietf.org/rfc/rfc1123.txt
> 
> 
> The first one saying:
> 
> <domain> ::= <subdomain> | " "

Indeed that is wrong in a subtle way. This quote comes from section
[3.5. Preferred name syntax](https://datatracker.ietf.org/doc/html/rfc1034#section-3.5) of RFC 1034 -with emphasis on **preferred**.

The real limits of the DNS protocol are made clear here:
[11. Name syntax](https://datatracker.ietf.org/doc/html/rfc2181#section-11) in RFC 2181. TL;DR anything goes, including binary 0 (ASCII `NUL`) and `.`. These weird-but-permissible-in-DNS names are then encoded into ASCII strings like `\000\..example.com.` where the leftmost label is consists of two ASCII characters:
- `NUL`
- `.` - which is a character **inside** the leftmost label, not a label separator

We could argue URL should be concerned only with **host names** (as opposed to **domains**) and then the quote might more fitting, but that ignores IDNA completely. RFC5890 defines stricter subset of permissible names in ASCII encoding...

I'm happy to discuss further if there's interest!