It's not immediately clear that "URL syntax" and "URL parser" conflict

URL syntax is a model for valid URLs---basically "authoring requirements". The URL parser section allows parsing URLs which do not follow URL syntax.

An easy example is `https://////example.com`, which is disallowed because the portion after `https:` contradicts

> A scheme-relative URL
> must be "//", followed by a host, optionally followed by ":" and a port, optionally followed by a path-absolute URL. 

/cc @bagder via some Twitter confusion this morning.


Is there really any reason for accepting more than two slashes for non-file: URLs? I mean apart from this spec saying that the parser should accept them.

The fact that all browsers do.

I hear Safari did not accept ten slashes =)

> The fact that all browsers do.

I tested Safari on a recent OS X version and doesn't even accept three slashes. Not in the address bar and not in Location: headers in a redirect. It handles one or two slashes, no more. So I refute your claim.

> The fact that all **browsers** do

That's exactly the sort of mindset that will prevent the WHATWG URL spec to ever become the universal URL spec. URLs need to be defined to work in more contexts than browsers.

> URLs need to be defined to work in more contexts than browsers.

They are, no? Handling multiple slashes or not seems irrespective of that. If Safari does not do it there might be wiggle room, or Safari might hit similar compatibility issues to curl.

That's a large question and too big of a subject for me to address fully here.

URLs in the loose sense of the term are used all over the place.

URLs by the WHATWG definition are probably not used by much else than a handful of browsers, no. In my view (wearing my curl googles), there are several reasons why we can't expect that to change much short-term going forward either. Like this slash issue shows.

I would love a truly universal and agreed URL syntax, but in my view we've never been further away from that than today.

I'm sorry for the imprecision. We often use "all browsers" to mean "the consensus browser behavior, modulo minor deviations and bugs."

The URL Standard defines URLs for software that wants to be compatible with browsers, and participate in the ecosystem of content which produces and consumes URLs meant for browsers. If cURL does not want to be part of that ecosystem, then yes, the URL Standard is probably not a good fit for cURL. But we've found over time that most software (e.g. servers which which to interact with browsers, or scraping tools which wish to be able to scrape the same sites as browsers visit) wants to converge on those rules.

> We often use "all browsers" to mean "the consensus browser behavior, modulo minor deviations and bugs."

This made me also go and check IE11 on win7, and you know what? It doesn't support three slashes either.

To me, this is important. It shows you've added a requirement to the spec that a notable share of browsers don't support. When I ask about why (because it really makes no sense to me), you make a recursive answer and say you did this because "all browsers" act like this. Which we now know isn't true. It's just backwards in so many levels.

> If cURL does not want to be part of that ecosystem

Being part of that ecosystem does not mean that I blindly just suck up what the WHATWG says a URL is without me questioning and asking for clarification and reasoning. Being here, asking questions, responding, complaining, is part of being in the ecosystem.

curl already is and has been part of the ecosystem since a very long time. Deeply, firmly and actively - we have supported and worked with URLs since back when they were still truly standard "URLs" (RFC 1738). I'm here, writing this, because I'd rather want an interoperable world where we pass URLs back and forth and we agree on what they mean.

When you actively decide to break RFC 3986 and in extension RFC 7231 for the Location: header I would prefer you could explain why. If you want to be a part of the ecosystem.

> the URL Standard is probably not a good fit for cURL

I wish we worked on a URL standard, then I'd participate and voice my opinions like I do with some other standards work. A URL standard is very much a good idea for curl and for the entire world.

A URL works in browsers and outside of browsers. It can be printed on posters, it works parsed and highlighted by terminal emulators or IRC clients, they get parsed by scripts and they get read out loud over the phone by kids to their grandparents. URLs are, or at least could be, truly *universal*. Limiting the scope to "all browsers" limits the usability of them. It fragments what a URL is and how it works (or not) in different places and for which uses.

If you want a URL standard, you must look beyond "all browsers".


> This made me also go and check IE11 on win7, and you know what? It doesn't support three slashes either.

Edge does, however: http://software.hixie.ch/utilities/js/live-dom-viewer/?saved=4182

In general, Edge has made changes like this to be compatible with the wider ecosystem of web content. I can't speak for their engineers in this case, however, but this shows clear convergence.

Why should malformatted URLs be parsed? Surely the solution is to simply tell people who are using malformatted URLs to.. stop using malformatted URLs?

In the interest of looking for ways forward, instead of just saying "no", per https://twitter.com/yoavweiss/status/730173495464894465, it might make sense to collect usage data and see if browsers can simplify the URL grammar. 

It may be best to ignore that browsers even use URLs, because there are definitely other pieces of software that use URLs. Consider the following URL: irc://network:port/#channel

On May 10, 2016 7:31:35 PM EDT, Jeffrey Yasskin <notifications@github.com> wrote:
>In the interest of looking for ways forward, instead of just saying
>"no", per https://twitter.com/yoavweiss/status/730173495464894465, it
>might make sense to collect usage data and see if browsers can simplify
>the URL grammar. 
>
>---
>You are receiving this because you commented.
>Reply to this email directly or view it on GitHub:
>https://github.com/whatwg/url/issues/118#issuecomment-218321890

-- 
John M. Harris, Jr.
PGP Key: f2ea233509f192f98464c2e94f8f03c64bb38ffd

Sent from my Android device. Please excuse my brevity.


I'd suggest the following plan to any browsers interested in tightening the URL syntax they accept:

- look through https://github.com/w3c/web-platform-tests/blob/master/url/urltestdata.json and find all non-error results that you wish became error results
- (optionally, wait until I finish my long-delayed project to expand that file to give 100% coverage of the spec. Currently it gives around 60%.)
- Instrument all URL parsing to figure out how often these undesirable patterns occur
- When the numbers come back, decide which percentage of users or pages you are willing to break, and pick the subset of algorithm changes you can make to do so up to that percentage
- optionally, weigh the percent of users broken vs. the corresponding spec or implementation complexity reduction
- start coordinating with other vendors to see which of your changes they're interested in. (Some cases might already behave differently in those other vendors' browsers, which could help!)
- Ship, preferably in a coordinated fashion with appropriate devrel support.

Browsers are not the only applications that use URLs.

On May 10, 2016 7:40:56 PM EDT, Domenic Denicola <notifications@github.com> wrote:
>I'd suggest the following plan to any browsers interested in tightening
>the URL syntax they accept:
>
>- look through
>https://github.com/w3c/web-platform-tests/blob/master/url/urltestdata.json
>and find all non-error results that you wish became error results
>- (optionally, wait until I finish my long-delayed project to expand
>that file to give 100% coverage of the spec. Currently it gives around
>60%.)
>- Instrument all URL parsing to figure out how often these undesirable
>patterns occur
>- When the numbers come back, decide which percentage of users or pages
>you are willing to break, and pick the subset of algorithm changes you
>can make to do so up to that percentage
>- optionally, weigh the percent of users broken vs. the corresponding
>spec or implementation complexity reduction
>- start coordinating with other vendors to see which of your changes
>they're interested in. (Some cases might already behave differently in
>those other vendors' browsers, which could help!)
>- Ship, preferably in a coordinated fashion with appropriate devrel
>support.
>
>---
>You are receiving this because you commented.
>Reply to this email directly or view it on GitHub:
>https://github.com/whatwg/url/issues/118#issuecomment-218323801

-- 
John M. Harris, Jr.
PGP Key: f2ea233509f192f98464c2e94f8f03c64bb38ffd

Sent from my Android device. Please excuse my brevity.


@JohnMHarrisJr your comment seems irrelevant to my plan for "any browsers interested in tightening the URL syntax they accept".

The syntax for URIs is such that the authority component (user:password@host:port) is always separated from the scheme by two slashes, except for some schemes that do not require them. The path may only begin with // if the authority component is there, and in that case it must begin with one single slash. So there is no possible case where there would be more than three slashes after the colon following the URI scheme.[(1)] HTTP in particular requires the two slashes between the URI scheme and the authority component, so there should always be exactly two slashes between the `http` URI scheme and the URI component.[(2)]

[(1)]: https://tools.ietf.org/html/rfc3986#section-3.2
[(2)]: https://tools.ietf.org/html/rfc7230#section-2.7.1

The main difference between the WHATWG and some other standards organizations is that the [WHATWG attempts to describe the world as it is](https://wiki.whatwg.org/wiki/FAQ#What_does_.22Living_Standard.22_mean.3F), rather than as folks would like it to be. That means that if a major implementation of URLs implements them in one way, the WHATWG specification needs to allow that implementation. So, it doesn't help to "prove" that browsers are wrong by citing earlier specifications.

That said, it seems like there's a good argument to have the URL spec allow implementations to reject too many slashes, since at least one recent browser and several other tools do reject them.

Well, we want interoperable behavior, so it's either accept or reject. There's room for "accept with a console log message telling you you're being bad" (the spec already has this concept), but it would take some cross-browser agreement to move toward "reject".

@domenic
That would mean web browsers are not allowed not to accept something that is pointless and has been considered invalid since URIs were a thing, only to accept it but give a console log message. Which again considers only web browsers. Other applications that use URLs probably don't have a console for logging such messages.

@jyasskin
If the goal is interoperability, standardizing the behavior of the major (read: popular) implementations—which for WHATWG usually means "let's standardize whatever Google Chrome does, other browsers don't matter as much and anything that isn't a web browser or isn't the HTTP protocol doesn't matter at all"—isn't the best option since these implementations are usually the most actively developed and the ones that care most about those standards. If the standards make another decision than what these implementations do, it's more likely that they would change their behavior than it is that the other implementations would. Of course, this sounds like a bad argument, but that's only because it relies on a wrong premise, which is that defining things based on the major implementations is a good idea.

This isn't surprising given that many people interested in WHATWG use Chrome, have Gmail email addresses, or are Google employees. The others are with Mozilla, use Firefox, and probably use Gmail email addresses.

This approach of standards as a popularity contest is harming the web, it tries to make tools like curl that already do URL parsing correctly and very well behave like the popular web browsers for "interoperability". And the popular web browsers behave like they do only in order to support every unreasonable thing that can be found on web pages, because their market share depends on supporting as many web pages as possible so that users don't switch to another browser. And then other browsers, and tools like curl, are expected to do the same because a spec says to!

Your claims about the WHATWG having a Chrome bias are false. Please be respectful and make on-topic, evidence-based comments, and not ad hominem attacks, or moderation will be required.

@domenic I admit my comment is the result of frustration, and neither on-topic, nor evidence-based, nor respectful.

Thanks for that. We can hopefully keep things more productive moving forward.

At this point I think the thread's original action item (from my OP) still stands, to clarify the authoring conformance requirements for "valid" URLs, versus the user agent requirements for parsing URLs.

Besides that, there seems to be some interest from some people in getting browsers (and other software in the ecosystem that wishes to be compatible with browsers) to move toward stricter URL parsing. I think my plan at https://github.com/whatwg/url/issues/118#issuecomment-218323801 still represents the best path there.

As for the particular issue of more than two slashes, I have very little hope that this can be changed to restrict to two slashes, since software like cURL is already encountering compatibility issues, and we can at least guess that the change from IE11 to Edge to support 3+ slashes might also be compatibility motivated. (Does anyone want to try http://software.hixie.ch/utilities/js/live-dom-viewer/?saved=4182 in Safari tech preview to see if they've changed as well?)

But, of course, more data could be brought to bear, as I outlined in my plan. I personally don't think three slashes is the worst kind of URL possible out of all the weird URLs in https://github.com/w3c/web-platform-tests/blob/master/url/urltestdata.json (my vote goes to maybe `h\tt\nt\rp://h\to\ns\rt:9\t0\n0\r0/p\ta\nt\rh?q\tu\ne\rry#f\tr\na\rg`) but it seems like a lot of people care about that, so maybe browsers will want to invest effort in measuring that particular use case.

@domenic Considering how many people write software working with existing URL libraries, wouldn’t it be more useful to define URL as "whatever the majority of tools support" (like the URL libraries in about every language, framework, command line tool, server framework, etc)?

Sure, what users input should be accepted, but considering that the input bars of browsers will also happily accept any text (and, if search is off, prepend an http://www., and append a .com/), is already a sign that maybe the definition here is wrong.

Maybe we need a defined spec for a single correct storage format for an identifier, and additionally an algorithm on how to get to this identifier based on user input.

"Google.com" is not a URL, although users think it is one – seperating the actual identifier and the user-visible representations might be helpful here (especially for people writing tools, as they can then declare "we accept only the globally defined format", and let you use other libraries for transforming user-input into that format).

@justjanne the URL Standard does not concern itself with the address bar. That is a misconception. It concerns itself with URLs found in `<a>`, `Location` headers, `URL` API, `<form>`, `XMLHttpRequest`, etc.

To be crystal clear, the browser address bar is UX and accepts all kinds of input that is not standardized. And it is totally up to each browser how they want to design that. They could even make it not accept textual input if they wanted to. That code has no influence on how URLs are parsed.

@annevk It also concerns itself with URLs used for cross-app communication in Android, for IPC in several situations, etc.

It also concerns itself with address bars.

What I was suggesting that maybe we should split it into one specific, defined representation (which libraries, tools, Android, cURL, etc could accept), and one additional definition for "how to parse input/Location headers/etc into that format".

That is basically how it is structured today. There's a parser that parses input into a URL record. And that URL record can then be serialized. The URL record and its serialization are much more constrained than the input.

I think that cURL basically wants the same parsing library in the end. It has already adopted many parts of it. I'm sure as it encounters more content it will gradually start to do the same thing. There's some disagreement on judgments calls such as whether or not to allow multiple slashes, but given that browsers are converging there (see Edge) and there is content that relies on it (see cURL's experience) I'm not sure why we'd change that.

@annevk That’d be cURL – but do you suggest every tool that handles URLs is rewritten based on this single implementation of a parser? Do you actually *want* Android to accept single or triple slashes in cross-app communication?

There are use cases for when you want to accept malformed input (for example, when it comes from a user), and there are use cases where you don’t. The definition of URL should be what you call "serialization of a URL record".

@justjanne I think it makes sense to have a single parser, yes. Perhaps the parser should have a strict mode where it bails on the first syntax violation rather than simply recording an error, but I'm not sure if that matters much. I'm still open to that idea, though probably best discussed in its own issue. Overall it seems better to validate input at the URL record level.

The curl project is 18 years old. We have received exactly *one* report of a URL using three slashes...

Why is the fact that most browsers accept an arbitrary number of slashes good enough to have a spec which allows that. Why is it better to open up the spec to allow all possible options. 
Hell, most browsers accept any kind of input, and will happily trigger a searchengine. But is it wise to include a default search engine in the spec, and say that any valid string is a valid url. If no host is found lets search on this searchengine? 

That browsers accept an arbitrary number of slashes does not say those slashes are sent to the server. That must mean that the browser parses any string, and tries to create a valid url from that.

Be sure to read https://github.com/whatwg/url/issues/118#issuecomment-218432532.

Thanks for that. But the same point applies (bar the searchengine). The browser generates a valid url from whatever is found. That does not mean it should be in the spec. 

@neoel how would you write a new browser without such a standard? How would you write a good search engine without such a standard?

Having implemented a web scraper, I have actually seen one-slash and triple-slash URLs in the wild (a lot of the time, they're from posts on social media, but we've seen news content from popular sources contain such URLs as well. Part of the reason you never notice is that the simply browsers handle this silently.). Additionally, there is plenty of popular syntax not supported by most URL parsing libraries, like the `"//example.com/"` syntax to keep a relative scheme. We've also encountered a lot of links that use Unicode characters directly inline.

A specification to implement the web as seen by browsers is invaluable to us, since otherwise it's been hacks and guesswork to get right.

On Wed, 2016-05-11 at 08:53 -0700, Dexter wrote:
> Why is the fact that most browsers accept an arbitrary number of
> slashes good enough to have a spec which allows that. Why is it
> better to open up the spec to allow all possible options. 
> Hell, most browsers accept any kind of input, and will happily
> trigger a searchengine. But is it wise to include a default search
> engine in the spec, and say that any valid string is a valid url. If
> no host is found lets search on this searchengine?
> That browsers accept an arbitrary number of slashes does not say
> those slashes are sent to the server. That must mean that the browser
> parses any string, and tries to create a valid url from that.

Anything that includes non-standard format should not be accepted at
all, and the user should be presented with an error message telling
them why the URL is invalid, if possible. (And there is no reason for
it not to be possible) The issue with large news sources can be fixed
with server-side code, and browsers should definitely join in shaming
those who do not fix that kind of obvious issue. Promoting laziness and
inefficient design isn't helping anyone.


@JohnMHarrisJr I appreciate your enthusiasm, but please keep in mind: This Standard reflects the way the world is, not the way we want it to be. As @magcius mentioned, it's important to capture how the world actually is - and where it's diverged from the idealistic view of the RFCs - so that we can accurately know the bugs, quirks, and behaviours that exist.

Arguing on ideological purity ("It shouldn't be in the spec") accomplishes nothing, serves nothing, because at the end of the day, code is running today that accepts it, servers depend on that/exploit that, and the Standard accurately reflects that.

I don't think there's opposition to making a "better world, tomorrow" - and @domenic comment in https://github.com/whatwg/url/issues/118#issuecomment-218323801 suggests how we can go about making that world. But the Standard exists to reflect what code today is doing - warts and all - so that there's consistency - warts and all. Once we have consistency, we can also make a concerted, collaborative effort to move to the world we want.

I think you're confusing the documenting the state of the world as promoting it, and that's not the case, no more than a study of controversial topics (say, a study of racism, or police violence, or global warming) should be seen as promoting/endorsing it. The Standard is not saying it's good - it's saying "This is the world we live in, and this is how to work within that world today" - and once we understand how bad it is, we can collaborate to make it better. And https://github.com/whatwg/url/issues/118#issuecomment-218323801 captures how we can do that, with browsers in particular having a significant influence not because of any innate primacy/superiority, but simply because they're the way most users will interact with the content, and the first and only means that authors will know something works or doesn't work.

On Wed, 2016-05-11 at 11:25 -0700, sleevi wrote:
> @JohnMHarrisJr I appreciate your enthusiasm, but please keep in mind:
> This Standard reflects the way the world is, not the way we want it
> to be. As @magcius mentioned, it's important to capture how the world
> actually is - and where it's diverged from the idealistic view of the
> RFCs - so that we can accurately know the bugs, quirks, and
> behaviours that exist.
> Arguing on ideological purity ("It shouldn't be in the spec")
> accomplishes nothing, serves nothing, because at the end of the day,
> code is running today that accepts it, servers depend on that/exploit
> that, and the Standard accurately reflects that.
> I don't think there's opposition to making a "better world, tomorrow"
> - and @domenic comment in #118 (comment) suggests how we can go about
> making that world. But the Standard exists to reflect what code today
> is doing - warts and all - so that there's consistency - warts and
> all. Once we have consistency, we can also make a concerted,
> collaborative effort to move to the world we want.
> I think you're confusing the documenting the state of the world as
> promoting it, and that's not the case, no more than a study of
> controversial topics (say, a study of racism, or police violence, or
> global warming) should be seen as promoting/endorsing it. The
> Standard is not saying it's good - it's saying "This is the world we
> live in, and this is how to work within that world today" - and once
> we understand how bad it is, we can collaborate to make it better.
> And #118 (comment) captures how we can do that, with browsers in
> particular having a significant influence not because of any innate
> primacy/superiority, but simply because they're the way most users
> will interact with the content, and the first a nd only means that
> authors will know something works or doesn't work.

So this is not a "Standard", this is simply documentation of what is
already done? Surely you see that that is an issue, and that there is
no sense in calling this a standard? Saying that "This is the world we
live in" is much different from saying "this is how to work within that
world today." Browsers are not the "first a nd only means that authors
will know something works or doesn't work.", in fact you could say the
opposite. Yes, you know that those browsers following this will accept
whatever URL is in question, but not how other software will deal with
this issue. Instead of relying on that, they could learn how to
properly format URLs so that this nonsense isn't done. It would be
trivial to parse URLs on the server side so that when URLs are used,
they are always exactly what the server wants, and not what your
browser says it probably is. That is where standards come into play,
and why this shouldn't be based on what browsers are doing at all, if
it is to be called a "Standard".


@JohnMHarrisJr While you may object to the notion, Standards that do not reflect running code are not valuable. That's why the IETF standardization effort recognizes not just "rough consensus", but "running code". Standards which are purely idealistic and ignore the world as it is often have zero traction, while those that accurately capture the world provide an invaluable service, and reflect the world as it is.

In any event, it sounds like you have broader disagreements with documenting "the world as it is," and those concerns don't apply just to this - it applies to things like HTML, CSS, or any of the other number of documents that reflect the "rough consensus and **running code**". It's almost certain that this bug is not the one to express your unhappiness with that, but hopefully it explains why you might have been confused.

> Standards that do not reflect running code are not valuable

Running code will often have bugs, bad behavior, and plan illogical choices. The purpose of a standard is to *specify* what those bugs/bad behaviors *actually are* so they can be fixed.

Writing a standard that accepts everything means it's not a standard at all. It's just throwing it's hands up and saying "well, they do what they want anyhow, may as well say it's ok."

It's especially frustrating in this specific case because that's not even a good justification (as illustrated: several major browsers, and the largest mobile browser, *specifically don't allow this behavior*).

On Wed, 2016-05-11 at 11:44 -0700, sleevi wrote:
> @JohnMHarrisJr While you may object to the notion, Standards that do
> not reflect running code are not valuable. That's why the IETF
> standardization effort recognizes not just "rough consensus", but
> "running code". Standards which are purely idealistic and ignore the
> world as it is often have zero traction, while those that accurately
> capture the world provide an invaluable service, and reflect the
> world as it is.
> In any event, it sounds like you have broader disagreements with
> documenting "the world as it is," and those concerns don't apply just
> to this - it applies to things like HTML, CSS, or any of the other
> number of documents that reflect the "rough consensus and running
> code". It's almost certain that this bug is not the one to express
> your unhappiness with that, but hopefully it explains why you might
> have been confused.

Code should reflect standards, not the other way around. The point of
standardization is to provide instructions on what to implement, not to
base standards on implementation. Yes, I understand that standards are
often based on implementations, but not to the degree that we change
standards to reflect major implementations.


Sure. Standards like this shouldn't represent code, they should represent data. Terabytes of data in the wild that doesn't adhere to more strict standards needs an interpretation, and starting with the interpretation supplied by the browsers seems sane to me.

For a stricter interpretation, you are welcome to use the IETF RFCs.

> Terabytes of data in the wild that doesn't adhere to more strict standards needs an interpretation

Except, as pointed out repeatedly, it does adhere to that standard because *many major browsers don't support what is proposed*.

> For a stricter interpretation, you are welcome to use the IETF RFCs

Well yes, I mean if the point of this standard is to just exist with no-one using it or caring about it... that would be a great position to take. 

If, on the other hand, you want people to actually respect it... then being so obtuse about things is not a great way to go about it.


This standard is supposed to provide an interpretation for URLs found in the wild on the web. For people writing software that interfaces with the web, I find the specification valuable.

If you don't believe me that I've found URLs that have single or triple-slashes on the web at wild, well, I'm not sure what to say. These URLs might break in some older or niche browsers like IE and Safari, but the failure case is that the user would simply get an error page and then go back to what they were doing before.

As mentioned, Firefox, Chrome and Edge all have behavior to support them now.

I assume by "the web" you're referring only to HTTP? URLs are used much more widely by protocols other than HTTP.

> Firefox, Chrome and Edge all have behavior to support them now.

And that's a tiny fraction of the overall ecosystem for URLs. The focus on just latest versions of just browsers is myopic and if continued throughout this standards development will doom it to be just another standard on the pile.

I think WHATWG is better than that and the standard deserves better than that. It's a good idea to do this, but this is a bad approach.

The WHATWG URL spec is designed to standardize URL parsing in HTML tags and HTTP headers, to provide semantics and interpretation to data in the wild that does not adhere to RFC 3986. It is *not* designed to replace RFC 3986 and the broader ecosystem of applications that use URIs.

Web content in the wild is already broadly not spec-compliant. If you do not have to interact with this kind of content, you don't have to care about the WHATWG URL spec.

> Web content in the wild is already broadly not spec-compliant

While true in this particular issue they wouldn't work in Safari or on iOS at all... as that is not the case this  shows that to be not true in that particular instance.

Also given that as you say....

> The WHATWG URL spec is designed to standardize URL parsing in HTML tags and HTTP headers

Then thinking about it from a browser-only perspective (as the comments here appear to) is specifically *against the design of the spec* as many other things consume HTTP headers. Not just browsers.

On Wed, 2016-05-11 at 15:12 -0700, Gregory Wild-Smith wrote:
> > 
> > Web content in the wild is already broadly not spec-compliant
> While true in this particular issue they wouldn't work in Safari or
> on iOS at all... as that is not the case this  shows that to be not
> true in that particular instance.
> 
> Also given that as you say....
> 
> > 
> > The WHATWG URL spec is designed to standardize URL parsing in HTML
> > tags and HTTP headers
> Then thinking about it from a browser-only perspective (as the
> comments here appear to) is specifically *against the design of the
> spec* as many other things consume HTTP headers. Not just browsers.

There is also the issue that, if this is about HTTP headers alone, it
shouldn't be a "URL Standard", it should be "HTTP URL Standard" or
"Browser URL Standard", both of which show that this has very little to
do with URLs and more to do with how browsers handle them.


WHATWG stands for the "Web Hypertext Application Technology Working Group". It's implicit that any standards released by them are primarily in the context of the web, especially people implementing web browser technologies.

Explicit language to make this clearer in the spec is, of course, welcome, especially now that more eyeballs are on the spec it given Daniel's blog post today. But, again, this spec is about how invalid-by-RFC-terms URLs found on the web should be parsed and the interpretations they should have. Outside of web contexts, especially when generating new URLs in your own cases, you are welcome and recommended to use RFC 3986.

As for "Safari and iOS don't support it", the obvious answer is "yet". WebKit has bugs open about implementing the URL spec, and for web compatibility they will eventually move to the new spec'd parsing algorithm. That said, the error case for someone using an (arguably) niche browser is that they get an error message which is easy to dismiss and pass off as "oh, the internet isn't working today".

I don't know what your definition of "the web" is, but the web goes far beyond the HTTP protocol.

On May 11, 2016 10:32:51 PM EDT, "Jasper St. Pierre" <notifications@github.com> wrote:
>WHATWG stands for the "Web Hypertext Application Technology Working
>Group". It's implicit that any standards released by them are primarily
>in the context of the web, especially people implementing web browser
>technologies.
>
>Explicit language to make this clearer in the spec is, of course,
>welcome, especially now that more eyeballs are on the spec it given
>Daniel's blog post today. But, again, this spec is about how
>invalid-by-RFC-terms URLs found on the web should be parsed and the
>interpretations they should have. Outside of web contexts, especially
>when generating new URLs in your own cases, you are welcome and
>recommended to use RFC 3986.
>
>As for "Safari and iOS don't support it", the obvious answer is "yet".
>WebKit has bugs open about implementing the URL spec, and for web
>compatibility they will eventually move to the new spec'd parsing
>algorithm. That said, the error case for someone using an (arguably)
>niche browser is that they get an error message which is easy to
>dismiss and pass off as "oh, the internet isn't working today".
>
>---
>You are receiving this because you were mentioned.
>Reply to this email directly or view it on GitHub:
>https://github.com/whatwg/url/issues/118#issuecomment-218644103

-- 
John M. Harris, Jr.
PGP Key: f2ea233509f192f98464c2e94f8f03c64bb38ffd

Sent from my Android device. Please excuse my brevity.


What about this trade-off: spec that single or 3+ slashes are allowed only in HTTP urls and deprecate it, and wait serveral years to see if we can forbide them entirely (we are transiting to HTTPS anyway). Softwares other than major browsers are free to implement this quirk or not.


I am for starting off by being fairly permissive with the URL spec to fit in best with the current popular implementations, and then start working on making the URL spec increasingly stricter until it becomes "what it should be". Other than people not updating their broken URLs (akin to ancient Netscape-age websites), is there a reason this isn't possible or reasonable?

No, that's very reasonable, and is in fact the plan outlined in https://github.com/whatwg/url/issues/118#issuecomment-218323801

@magcius
You're directly contradicting the spec. The spec claims to "[define] URLs, domains, IP addresses, the application/x-www-form-urlencoded format, and their API." It also claims its goal is to "[align] RFC 3986 and RFC 3987 with contemporary implementations and obsolete them in the process."

If the WHATWG is to obsolete these RFCs and to provide a replacement definition of URLs, it must consider more than just web browsers (especially just Chrome, I'm not convinced that the Chrome bias is fake). That the WHATWG is specifically about web applications is just one reason the specification should have a much, much narrower scope than it claims.

Regarding Safari, iOS and Internet Explorer moving to implement what this standard says, this could just as well be turned the other way by not allowing multiple slashes (which is the solution favored by the RFCs, simplicity, and correctness, remember) and expecting Chrome and Firefox to adjust. But of course we expect Safari, iOS and Internet Explorer to adjust, as well as all the other programs that parse URLs that don't get mentioned simply because only browsers seem to be cared about. Why is that?

I seriously don't think the WHATWG should be defining concepts such as URLs, domains or IP addresses. This specification is only useful for web browsers (even then I'm not too sure about that...), so its scope should be restricted to those.

@SEAPUNK, @domenic
Plan which is not going to happen, and therefore not reasonable, because any reason we could have to be permissive right now is only going to become even stronger once a spec says it's okay to be permissive. If making the spec increasingly stricter makes sense, making it stricter right now would make even more sense. If anyone is going to update his broken URLs (doubtful), it's only going to be less likely to happen once a spec says they are not broken and all browsers support them. So the only thing I see happening is the spec becoming more permissive, not stricter. And this is obviously a problem, I hope nobody wants URL parsing to become as complicated and full of heuristics (even if these heuristics are well-defined in a spec, they're still heuristics) as parsing of HTML5 has become.

@mark-otaris 

While generally I am for "fixing" something in one swift action regardless of what it would break, the reason I am okay with incremental changes is to only incrementally break websites. Obviously there will be people who don't fix their URLs, but those are the people we increasingly start to care less about. There are stages to deprecation (soft, then hard), and it's in many people's best interest to start with the smallest breakages, and work your way up over time so people start noticing that WHATWG is being serious about deprecating and implementing these breaking changes, so they start to get a move on themselves.

If WHATWG went ahead and implemented the perfect spec with a massive amount of breaking changes, it would be up to the browser developers to figure out how they want to do the incremental breaking changes, so while WHATWG is responsible for writing a standard that Does It Right™, they should also be responsible for standardizing _how_ implementers make the gradual changes, so everything is done in more-or-less sync.

@SEAPUNK
If the purpose of the specification is to sync web browser implementations in incrementally becoming less permissive, then:
* The spec should say that, and not claim to define URLs, domain names and IP addresses.
* The spec should not claim to be a replacement of the RFCs.
* The spec shouldn't be trying to change the terminology from "URI" to "URL".
* The spec should only concern browsers and should mention explicitly that it is not relevant for tools like curl, libraries that parse URLs, IRC clients and so on.
* Browsers that are already stricter should not be expected to implement the spec, since they'd need to revert those changes right after when the spec incrementally becomes less permissive.

So the spec would be about coordinating the efforts for making Firefox, Chrome and Edge progressively stricter and getting them as close to the RFCs as possible. (How close it is possible to bring them would depend on how many web pages have incorrect URLs.)

Now, that'd be an initiative I can agree with, and a plan I would find reasonable.

The purposes of the specification is to get URLs interoperable, in the same way we got HTML parsing and other things interoperable. By focusing on the implementations that are the least likely to change, and making it easier for others to align with them. The specification is aimed at cURL & co and it's a shame they rather implement no standard at all, but that's up to them.

> The specification is aimed at cURL & co and it's a shame they rather implement no standard at all, but that's up to them

I'm here (representing "cURL & Co" to some degree), discussing in this issue among others, because we find the whatwg "URL standard" to be inferior.

"cURL & co" intend to continue to support URL standards. We've already supported them for a very long time. But as my recent [blog post](https://daniel.haxx.se/blog/2016/05/11/my-url-isnt-your-url/) on the subject points out, there is no URL standard. Well, apart from perhaps RFC3986 that browsers don't care much for anyway.

The whatwg "URL standard" has not been developed with proper consideration of the entire ecosystem, sort of in your corner of the world and it is written in a really funny way that makes it really hard to understand what is supported.

Did you really never previously ponder why it is so that only browsers implement all this and that the world of HTTP/URL libraries and command line tool almost unanimously don't?


Browsers don't implement all this either in a consistent fashion yet. And I don't think much libraries have taken notice yet, though there are quite a few implementations now, including in Node.js, Java, PHP, etc. It takes a lot of time. For HTML it took about a decade. I suspect this might take longer given that it's more fundamental and subtle changes can have grave consequences.

> By focusing on the implementations that are the least likely to change, and making it easier for others to align with them.

@annevk this reads to me like the WHATWG rewards intransigence: that is, if the Chrome or Firefox team rocked up and said "no we will not change because we don't want to", the WHATWG will throw its hands up in the air and say "welp, guess that's spec-standard then". Is my understanding of that right?

> The specification is aimed at cURL & co and it's a shame they rather implement no standard at all, but that's up to them.

I'm here representing "& co", and while we're talking I should point out that in shazow/urllib3#859 I proposed moving our tooling to using the parsing algorithm provided here. So it's not like we're sitting here ignoring you.

But the attitude of WHATWG is rubbing me the wrong way. We have had a specification plopped down in front of us that we were not consulted in, that we have not helped to develop, and which gives the impression of not really considering us first-class citizens. This thread repeatedly talks about "major implementations" and about "the implementations that are least likely to change". The *overwhelming* sentiment I read from those messages is that this specification is about *doing what big browsers do*, rather than considering what the wider ecosystem does. I get the strong impression that the implementations that are *more* likely to change boils down to "anyone who isn't a browser", and that's a pretty insulting way to talk about our work.

You cannot be surprised, then, that we don't feel particularly warm and fuzzy about a specification that doesn't consider us or our use cases to be important enough to be part of the story. This specification feels to me like it exists to beat us into line, as the product of an organisation that, unlike the IETF, doesn't think our implementations matter very much.

And, yeah, that's fine, I'll try to do it anyway because I care enough about my users that I'm prepared to work in the broken world that the WHATWG is happy to spec on rather than press for people to fix their broken implementations. But the high-and-mighty benevolent and somewhat patronising tone taken in this thread is really quite insulting.

Understood and I realize it's not exactly pretty. The problem is that browsers are extremely hard to change. That one bug report cURL got is often enough for them to not be willing to touch code. Especially code that's been working okay for two decades and is deployed to hundreds of millions of users.

So if we want to change the slashes situation, that existed way before I wrote the URL Standard by the way, we will need a concrete reason why it's bad and why browsers should change. Might be best as a separate issue on this repository at this point. Then we file bugs against the various browsers saying that them not returning failure (as they all do for, .e.g, `http://test:test/`) is problematic and then hopefully they invest the engineering time in changing that. And it seems from @sleevi's response we might be able to get Chrome to run some experiments for us there.

It might help to understand that the WHATWG was created out of this browser inertia. The W3C wanted to forget about the mess that was HTML and browsers and move on to what they saw as greener pastures. The WHATWG was formed by individuals from browser vendors and web developers that recognized the inertia and were willing to figure it out, lay it bare, and then improve upon it. That is what I see us doing here too. It's not pretty, it's not fun, and the power balance is a little skewed towards the mega clients, but this is how we think we can improve the web and I think we've done a pretty good job of that thus far across various efforts.

Anyway, I am truly sorry for the tone. It's always a bit of a balancing act when there's a bunch of fresh ideas entering your community and I'm usually pretty bad at handling them. But we are definitely willing to work with you all and appreciate your input on what should be clarified and how. And what parts should maybe be changed since they are actively harmful to allow.

Is the WHATWG URL standard document:

1. Describing how the browsers' URL parsers work
2. Describing how a browser's URL parser SHOULD work to be compliant

?

Sometimes there's talk of (1) and sometimes there's talk of (2). I can see the value of a (1) but I think spec like (2) could also say that parts of (1) isn't desirable.

It's a mix of those, trying to pave the path towards convergence, while keeping in mind what we know about "inertia" as I described it earlier.

@annevk I want to be clear as well that my frustration is largely not directed *at* you. It's frustration borne of discovering that a whole lot of very powerful entities seem to have a totally different idea of what the world is supposed to look like, and relatively little interest in hearing a dissenting opinion. Not your fault, of course, and I appreciate the apology. =)

Perhaps instead of trying to impute motives, people could, you know, actually look at test results?  Here's some slightly dated but probably mostly accurate data including both browser and non-browser behavior: https://url.spec.whatwg.org/interop/test-results/

@annevk

Browsers aren't extremely hard to change, they just really don't want to lose their market share, and see no problem with sacrificing the open web if that means they get more users and thus more influence. That's also why they shouldn't get to dictate standards.

The WHATWG's standards are about major browser vendors and web application developers. They are never about users, and are rarely about web page authors.

The W3C wanted to move the web forward with XHTML, SVG, XForms and other well thought technologies. Google wanted to make web applications to have [as much control as possible over users' computing](https://www.gnu.org/philosophy/who-does-that-server-really-serve.html). Browsers wanted market share.

The semantic web project failed because it didn't have the most influence, even if it was the better idea. Now we have HTML5: a [hundred JavaScript APIs for everything](https://platform.html5.org), very slow web browsers, [DRM as a web standard](https://www.defectivebydesign.org/no-drm-in-html5), specifications that tell browsers (how) they must support broken web pages; and the web is more of a mess than ever. All these [JavaScript APIs](https://www.gnu.org/philosophy/javascript-trap.en.html) result in a neverending stream of vulnerabilities, but it is the users who care about that, not the web developers or the browser vendors.

The web application developers are happy: they have enough JavaScript APIs to make their web applications that give them control over users' computing and access to all of their data. The major browser vendors are very happy: they get to keep their market share while still being able to say they follow standards, and the web is complicated enough now that it is impossible for any new browser to come in and compete with them.

But this does not make the web win. It just makes the people who have the most influence win. This is one among an infinity of good reasons why standards should never be defined by implementations.

You ask for a concrete reason why it's bad and why browsers should change, but there is no reason that the browsers will accept, because being stricter will always mean more pages possibly being broken, and therefore users possibly moving to another browser. The question that should really be asked is "Why did browsers change to allow all these invalid URIs in the first place?" The concrete reason they had to do that is their market share.

[Extensible Resource Identifiers](https://en.wikipedia.org/wiki/Extensible_Resource_Identifier) are the best example of a standard, related to URIs, that actually improves the web, in this case by adding [many useful features](https://en.wikipedia.org/wiki/Extensible_Resource_Identifier#Features) to them. What does the WHATWG's current URL spec actually bring that would make it worthy of replacing RFC 3896? Making dubious terminology changes about favoring "URL" even though "URI" has been used consistently [for 15 years](https://www.w3.org/TR/uri-clarification/) by the W3C and the IETF, and is the more logical term. Supposedly making "solid" something that has already been very clearly defined for a long time and that browsers have just decided not to follow. The problem is the behavior of the browsers, not the RFCs.

On Fri, 2016-05-13 at 16:42 -0700, Sam Ruby wrote:
> Perhaps instead of trying to impute motives, people could, you know,
> actually look at test results? Here's some slightly dated but
> probably mostly accurate data including both browser and non-browser
> behavior: https://url.spec.whatwg.org/interop/test-results/

It is unclear what most of those tests are actually talking about, as
they just list languages and not what API was used in the test, and
just show "that there is a difference" in most cases, not what the
difference is.


@JohnMHarrisJr You can drill down by clicking on a line.  You will see how each client interprets the URL.

On Sat, 2016-05-14 at 17:22 -0700, Sam Ruby wrote:
> @JohnMHarrisJr You can drill down by clicking on a line.  You will
> see how each client interprets the URL.

Oh, gotcha. It does have the differences, but it's just hard to use.
That still doesn't explain what it means by "python" or "ruby".


Or perl, csharp, nodejs (although there I suppose it makes more sense,
it should definitely say whether it's talking about the standard
functions or a library).

In addition, let's look at https://url.spec.whatwg.org/interop/test-res
ults/63fe456f89

It seems that "ruby" is the only one that parses it correctly?


Description of the APIs used, including links to the actual source code:

https://github.com/webspecs/url/tree/develop/evaluate#evaluation-programs-and-results

The term "correctly" implies a value judgment; I'll decline to go there.  At the moment there are specs that are underspecified; specs that don't match reality; and implementations that don't match one another.  The latter remains true even if one limits oneself to only browser implementations, actively maintained browser implementations; or even actively maintained browser implementations.  Or alternately if you limit yourself to implementations that purport to be faithful implementations of the standards.

Also might be of some interest: what in my opinion is a more readable version of the URL standard, as of nearly a year and half ago: https://specs.webplatform.org/url/webspecs/develop/

The diagrams in that spec are generated from executable code that was meant to be the reference implementation.  My hope at the time was to get set of implementors together to reduce observable differences in their output.  

On Sat, 2016-05-14 at 18:04 -0700, Sam Ruby wrote:
> Description of the APIs used, including links to the actual source
> code:
> 
> https://github.com/webspecs/url/tree/develop/evaluate#evaluation-prog
> rams-and-results

Instead of "nodejs", it should be "nodejs-url" or similar, to show that
it is using the url "package".

The "ruby" one is now even more odd, because "addressable" is also listed. Isn't "ruby" "addressable"?

Or is "ruby" the standard library URI, as you'd expect?

"perl" is also confusing, unless you mean the "URI" module (which I'd suspect, since there is a dead link to it on CPAN)

That should definitely be "perl-URI" or "perl-uri".

In addition, I do not believe that galimatias should be listed, but that you should be testing against the Java URL and URI classes. These are the most common, and most actively developed URL and URI parsing classes, and they are also closest to the RFCs which define whats URLs and URIs are.

> 
> The term "correctly" implies a value judgment; I'll decline to go
> there.  At the moment there are specs that are underspecified; specs
> that don't match reality; and implementations that don't match one
> another.  The latter remains true even if one limits oneself to only
> browser implementations, actively maintained browser implementations;
> or even actively maintained browser implementations.  Or alternately
> if you limit yourself to implementations that purport to be faithful
> implementations of the standards.

In this case, "correctly" refers to "ruby" using port 80 when no port
number is specified.

I also don't know what you mean by "specs that don't match reality",
because specs define what implementations should do.. They don't "match
reality".


The concern about focusing only in browsers is real and there are evidence of problems that happened because of that. Last year I found out that ietf [created an RFC for cookies in 2011](https://www.ietf.org/mail-archive/web/http-state/current/msg01461.html) documenting the allowed characters in a cookie name without considering the internals of server-side technologies such as PHP. That created a [big interoperability issue](https://github.com/js-cookie/js-cookie/blob/f2b25713e8fae658d418b60710adc0e0d14998d9/SERVER_SIDE.md#php), because php decoding implementation is coupled to a historic syntax (`$_COOKIE`) that is older than many browsers and therefore cannot change, ever. This heavily restricted the default interoperability between client and server-side transmission of unicode characters using UTF-8, just because the spec was built only for browsers.

@FagnerMartinsBrack I don't see how the use of $_COOKIE has anything to do with the ability or inability of PHP to handle a given cookie.

@JohnMHarrisJr I want to be careful not to go too off-topic here since there is already a considerable amount of comments.

> I don't see how the use of $_COOKIE has anything to do with the ability or inability of PHP to handle a given cookie.

The summary of the problem is in the [link above](https://github.com/js-cookie/js-cookie/blob/f2b25713e8fae658d418b60710adc0e0d14998d9/SERVER_SIDE.md#php). For more context, see [here](https://github.com/js-cookie/js-cookie/issues/70). 

The point is that focusing all the efforts of a spec only in the browsers can have unintended side effects. That specific cookie case happened probably because nobody went deeper researching the current state of each ASCII character support outside the browser-land at that time.

I find the URL test results very confusing: what is different [here](https://url.spec.whatwg.org/interop/test-results/1eb81ab802?select=rusturl)? And [here](https://url.spec.whatwg.org/interop/test-results/fef11465ca?select=rusturl)?

OK, admittedly that doesn't show up very clearly. The difference is string "0" vs number 0.

Details:

https://url.spec.whatwg.org/interop/useragent-results/refimpl
https://url.spec.whatwg.org/interop/useragent-results/rusturl

The strategy of gathering various browser implementations into a descriptive standard, and then [keeping on refining the standard](https://github.com/whatwg/url/issues/118#issuecomment-218546850) until it hits the actual end goal seems very nebulous. What is the end goal?

Why bother doing things this way, as opposed to the normal practice of defining the actual standard we want, and then documenting variances (e.g. [spec](https://www.w3.org/TR/html5/) and [variance](http://caniuse.com/))? Why define anything other than the intended result? Browsers are very capable of setting their own timelines for spec conformance; why does a separate body need to create a timeline for everyone to follow? Browser vendors having massive funding (relatively speaking) and can constantly keep up with spec changes, but it seems crazy to offer lots of little spec changes over time to gradually shepherd software that uses URLs. This is an obvious recipe for disaster, as it could lead to a situation where there are many URL parsing schemes, each with their own little differences, and we have to do content negotiation to figure out which parser to use! Presumably that negotiation would also need a spec :)

I hope that's at least slightly convincing regarding why planning to change the spec over time is a bad idea. 

Here's an alternative, that perhaps describes this standard better: _why not convert it into a standard for parsing malformed URLs?_ This has the advantage of not superceding useful, prescriptive standards for URLs (so people won't think that writing software that generates a URL that starts with `http:////////////` is ever a good idea, which this standard is in massive danger of enabling) and also keeps whatever benefits people are claiming would arise from standardising permissive URL parsing.

The end goal is convergence between implementations. Convergence usually requires tweaks over time as nothing is perfect. This is true for all standards efforts.

It sounds like you have not read OP which indicates that the URL standard has separate sections for syntax and parsing which indeed have different requirements as to what is conforming and as to what works. It just needs to be clarified and get some examples.

@annevk
If convergence requires tweaks over time, why can't web browsers adjust over time their behavior to make it closer to the sane behavior defined by the RFCs?

Again, the answer is market share and power. That convergence on this requires tweaks over time is not true, it is very easy to just remove all the URL parsing code that handles incorrect URLs. Writing a proper URL parser that follows the RFCs is not difficult. But it is not what browsers want, because then some URLs might not work which might lead browsers to lose some of their precious market share. Instead, browsers want to work with as many URLs as possible, and specifications like this one are created not to make the web browsers work toward a sane end goal—which is never going to happen, everyone knows very well the spec is not going to become stricter with time—, but to make the other, already-correct implementations move toward some lax behavior. So that the browsers can get away with their implementation choices that actually harm the web. This is nothing new, the same thing happened with HTML5 versus XHTML.

The obstacle to convergence isn't that we don't have a spec (we already do have one: the RFCs), it's that the interests of browser vendors do not align with the correct behavior. So instead of converging toward the long-established correct behavior, the browser vendors try to create a new specification that establishes as a standard a new behavior, inferior from a technical point of view, but that does not conflict with their interest.

@annevk I have read the spec and this thread; not sure if there's something else I should've read; apologies if that's the case.

My point about a different spec is that URLs are not generated by browsers, really. So the *parsing* spec is the one that defines what most URLs will look like, not a theoretical URL syntax. That's why it needs to be strict, because it is the de facto syntax spec, and not constantly adjusting to encompass an ever-widening Overton window of URL brokenness which cannot be kept up with by any tool that isn't well funded.

Having said that, breaking out a separate *malformed* parsing standard, so that people can detect malformed URLs and fix them, might be useful.

I think fundamentally this is a question of who owns the Web. If the answer is *browser vendors; they will keep up with the spec, mostly by having it codify their products' behaviours*, then this spec makes sense. If it's *no-one; anyone can write a simple tool that easily parses URLs* then it makes no sense.

So how can a URL be defined to only have two slashes but you mandate that parsers should handle thousands? The first is pointless with the second.

A URL can be defined to only have two slashed but the spec mandate that parsers should handle thousands the same way the IETF standard can say that URL producers should not create percent-encoded octets for the ALPHA range, but URL consumers should decode them nonetheless.

https://tools.ietf.org/html/rfc3986#section-2.3
> For consistency, percent-encoded octets in the ranges of ALPHA (%41-%5A and %61-%7A), DIGIT (%30-%39), hyphen (%2D), period (%2E), underscore (%5F), or tilde (%7E) should not be created by URI producers and, when found in a URI, should be decoded to their corresponding unreserved characters by URI normalizers.

I'll concede that it just says "should not" and not "SHOULD NOT", but that's pretty similar in spirit in my book.

@bagder it's the robustness principle more or less. It also keeps things simpler for those only producing URLs and not consuming them. And those sticking to valid URLs. Even if we parse URLs with a space in them, we wouldn't want to make those valid as that would make it harder to work with URLs in plain text over the long term.

But then the syntax spec is pretty useless as it doesn't restrict URL generators (since they will output what parsers manage to parse) and parsers are encouraged to be "robust" and accept things that aren't in the syntax spec. A downward spiral into a world of tears.

So why is there a syntax spec? To explain how an ideal URL would look like?

I think it's still useful, if you type `https:///example.com/` it's likely a typo. That the parser accepts it is needed for compatibility, but that does not mean there is no value in stricter syntax, warnings, etc.

What exactly is that value?

I can see one distinct value right now: that "polished" version is more compatible with RFC3986-URLs, so copying the cleaned up version to external tools has a much higher chance of working.

I however would like a spec that is clear on exactly what is allowed and what then isn't allowed. What is allowed is handled by the (compliant) parsers, what isn't allowed is rejected. Everything that is silently handled for the robustness principle becomes accepted and is then considered valid.

If a spec-compliant parser accepts and works with a given syntax, then that syntax is valid. We can't separate allowed by parser and allowed by syntax.

> What exactly is that value?

You don't see value in catching typos?

> We can't separate allowed by parser and allowed by syntax.

We have been doing this in a number of areas quite successfully, so I don't think that claim is true.

> We have been doing this in a number of areas quite successfully

Please educate me then. How do we/you/everyone benefit from this split?

As a particular note, if something MUST be tolerated and has one and only one defined meaning when parsed, that is *effectively* allowed by the specification.

Put another way: if implementations are required to parse any number of slashes to be defined as compliant, then the spec allows any number of slashes, regardless of the preamble text. 


Can't we just accept that the separation is similar to the thing I quoted from the IETF RFC and all move on?

@nox: that text in the RFC is also rather useless and is mostly there for humans to understand a little what the intention is: readable characters is better than percent-encoded ones since they may be read by humans. "How to write a readable URL" sort of.

Nobody would say that a URL cannot contain such codes. They are legal entities of a URL.

I think this is an important issue. I've kept harping on this number-of-slashes issue and I've been told at least twice that the URL spec says it should be two slashes, when in fact the URL spec says a parser should handle an infinite[*] amount of them.

For me personally, this (unorthodox) split is causing some of the confusion I experience when reading this spec. Maybe just maybe I'm not alone. And I have read a spec or two before.

[*] = it actually doesn't specify an exact amount

The URL spec is about the construction of a valid, bona fide URL. It also says something like "a URL is composed of ASCII characters". Turns out, if you venture out beyond the English web, you'll find things like `<a href="http://facebook.com/fútbol">` in just raw UTF-8. You will also find `http:///facebook.com/fútbol`

The URL parsing spec is about the ability to handle these URLs that are found naturally in the wild that do not conform to any stricter URL specification. To create a URL, read the RFC. To parse a URL, read the URL parsing spec.

@magcius It is not obvious that URL parsers should be able to handle URLs that are invalid, that this is desirable, that if it is the behavior should be codified in a spec, or that if invalid URLs are accepted they will not become valid URLs in practice. My answer to all these questions is "no".

@magcius: that's a completely broken argument. This effort is about writing an updated URL spec that can replace RC3986/3987 (as per the goal section). Thus referring back to one of those RFCs for actual content would be counter to that goal. (And no, RFC3986/3987 can actually not be followed to create proper TWUS (The WHATWG URL Specification) URLs, they're not that compliant. I'm primarily thinking of IDN and non-ascii here.)

The model of being stricter in what is allowed than what parses into *something* (or is processed in some defined way) is used widely in HTML, and this section discusses the whys:

https://html.spec.whatwg.org/#conformance-requirements-for-authors

Some of the syntax ones seem like they could apply to URLs as well:

* Unintuitive error-handling behavior
* Errors involving known interoperability problems in legacy user agents
* Errors that risk exposing authors to security attacks
* Cases where the author's intent is unclear
* Cases that are likely to be typos
* Errors that could interfere with new syntax in the future (maybe unlikely for URLs?)

Conformance checking URLs to catch these classes of mistakes seems worthwhile to me. Making the parser return failure for all of these cases would not be web compatible and so a web browser would not be able to do that.

However there is another bullet in HTML's list that currently doesn't apply to URLs, but could in theory:

* Errors with optional error recovery

The URL standard *could* allow a failure to be returned for any syntax violation.

@zcorpan I don't think we argue (here) why the parser should be forgiving and accepts all sorts of weirdo input, this discussion is more searching for a motivation for the "syntax spec" when then "parser spec" is really the one that dictates the truly accepted syntax.

OK, I've struck the part of my comment suggesting optional failure for syntax violations. What is remaining in my above comment tries to give motivation for the "syntax spec".

> Unintuitive error-handling behavior

How does the syntax spec help with this? It doesn't describe the syntax the parser accepts!

> Errors involving known interoperability problems in legacy user agents

How does the syntax spec help with this? It doesn't describe the syntax the parser accepts!

> Errors that risk exposing authors to security attacks

If the syntax spec describes this, why on earth does the parsec spec allow things that puts users at risk.

... and so on.

> Unintuitive error-handling behavior

It might be intuitive that 3 slashes in `http:///example.org/` would result in failure, but for web compat the parser needs to not return failure. If the syntax section were to match what the parser accepts, it would mean that 3 slashes is not a syntax violation, and so conformance checkers would not give any error message when people accidentally use too many slashes.

> Errors involving known interoperability problems in legacy user agents

Converting backslashes to forward slashes in URLs is an example where there wasn't interoperability in legacy user agents, but doing so gives better compatibility with web content. If the syntax section were to match what the parser accepts, conformance checkers would not give any error message when people accidentally use backward slashes, and the URLs would not work in some legacy user agents.

And so on. Making them different is the entire point; it is required to have an effect at all.

> If the syntax section were to match what the parser accepts, it would mean that 3 slashes is not a syntax violation

I claim that it is not a valuable distinction to anyone.

If the format is acceptable it isn't a syntax violation. That's what a valid syntax means. It doesn't result in a failure. Conformance checkers can complain all they want but that would be weird since the URL is clearly legitimate by the parsers.

> Conformance checkers can complain all they want but that would be weird since the URL is clearly legitimate by the parsers.

100% this. If all parsers are required to accept the format, then all we're arguing about is some Platonic ideal of a URL. *Actual* URLs are allowed to have *n* slashes.

Given that this discussion is going on under the WHATWG roof, it seems futile to argue that a spec should require any strictness or reject non conformance. If that were an option under this leadership, XHTML would still be alive (yes, I know it's not *technically* dead). 

Web browser developers have a strong business interest in accepting and parsing malformed data and rejecting effectively nothing. If one browser maker were to start rejecting malformed data, they would be at a competitive disadvantage to the browsers that hid the failure from the user. Which is why WHATWG standards go in the direction they do, and why this is ultimately a futile debate. 

To achieve any goal of strictness in standards, or of parsers requiring conformance, the standards process would need to be taken out of the hands of the web browser developers. I don't see that happening any time soon, given the successful HTML coup. 

Perhaps an achievable lesser goal could be restricting WHATWG's reach? Why is a URL spec happening under the WHATWG banner, for example? 

> I claim that it is not a valuable distinction to anyone.

How can you claim that while we are telling you it is and giving you examples as to why it might be useful? Clearly "anyone" is an overstatement.

> Conformance checkers can complain all they want

https://checker.html5.org/ does, and I respectfully disagree that it is weird or not useful.

Another example where a syntax violation is useful is U+0020 in a URL, because in some HTML attributes (like `<a ping>`, `itemtype`, `<img srcset>`) use space-separated URLs (or in the case of `srcset`, a microsyntax where a space marks the end of the URL). While a URL like `http://example.org/foo bar` works in `<a href>`, it means something else in these other contexts, so to avoid problems when copying URLs between contexts it is useful if conformance checkers give an error message for whitespace in a URL in any context that expects URLs.

> How can you claim that while we are telling you it is and giving you examples as to why it is useful? Clearly "anyone" is an overstatement.

Because that doesn't actually help anyone (implementing code based on this spec). That checker could do its warnings just fine without the syntax spec being here. The syntax spec doesn't help any implementers and it clearly doesn't guide producers very much either since URLs are produced all over that aren't syntax spec compliant.

> Another example where a syntax violation is useful

If it is accepted, it isn't a violation. You invent new meanings for established words.

> it means something else in these other contexts

Possibly, but a URL spec needs to define how a valid URL is constructed and parsed. Independent of context because URLs will and are meant to be copied, read out lot and sent over other mediums.

> If it is accepted, it isn't a violation. You invent new meanings for established words.

Yeah, this.

If `http:///////example.org/` is supposed to be parsed as `http://example.org/`, any "syntax checker" isn't actually checking for violations: it's just checking for compression opportunities.

> Because that doesn't actually help anyone (implementing code based on this spec).

We're not only trying to help URL parser implementations.

Older URL tools may not support 17 slashes, but it is needed for webcompat, so while it should be supported and parsed accordingly by new implementations, it is asking for problems to produce on purpose an URL with 17 slashes. That's why the spec it is a syntax violation but the parser has to support it.

I mean syntax violation as defined in the standard: https://url.spec.whatwg.org/#syntax-violation

I do not follow how "violation" is incorrect meaning here. Three slashes is violating the allowed syntax. The consequence of the violation (failure vs. "fixup" during parsing) is not relevant to whether it is a violation or not.

@Lukasa 

> it's just checking for compression opportunities.

No, it is not. `http://example.org/foo bar` -> `http://example.org/foo%20bar` is the opposite of a compression opportunity.

> Because that doesn't actually help anyone (implementing code based on this spec).

Surely the syntax section provides useful guidance to people who are writing URLs.

If you are writing an URL parser, you should implement software that behaves as if it implemented the algorithm from the parsing section, of course.

> No, it is not. http://example.org/foo bar -> http://example.org/foo%20bar is the opposite of a compression opportunity.

Yup, fair point.

So let's call this what it is: URL normalisation. This spec proposes a wide range of possible forms of URLs that must parse, but defines a canonical URL form. I think @bagder and I are suggesting that perhaps defining both of these things is not a good idea.

It's not normalized either. E.g., `https://EXAMPLE.com/../x` is a valid URL, but not normalized (the parser will normalize it to some extent). It's just valid syntax. It seems that you use syntax to mean something else from what we use it for. Avoiding that confusion would be good, but I don't think you have shown that the benefits that have been cited are not benefits somehow.

@Lukasa, are you actually advocating that people writing URLs should write an arbitrary number of slashes after the colon? If not, what's wrong with saying what the preferred writing syntax is? (Plus see what @nox said about writing URLs in a way that's more likely to work in legacy consumers.)

> advocating that people writing URLs should write an arbitrary number of slashes after the colon

Others specs would just have some plain English for the slashes section explaining how producers *should* put two there, but consumers need to accept a bazillion. I think that is much better as it doesn't imply that two slashes is any sort of rule, just a suggestion.

> are you actually advocating that people writing URLs should write an arbitrary number of slashes after the colon?

No, I'm advocating that people write *two* and that parsers reject more than two. I'd say I'm more hard-line on this than you are. :grin:

> Others specs would just have some plain English for the slashes section explaining how producers should put two there, but consumers need to accept a bazillion

Why is BNF-ish more RFC-ish expression not preferable over plain English for producers?

The thing is that BNF works for defining rules for producers, because error handling isn't needed for the rules for producers, but doesn't work for defining rules for consumers, because BNF doesn't do error handling but rules for consumers involve error handling.

I just read some great walls of text this issue generated(or provoked), and I'd like to state my humble opinion as a web developer.

Making the parser and the syntax conflict seems weird (if not wrong). 

If you define a syntax you are defining some type of a formal language in Chomsky hierarchy. From the grammar of that language, there is a way to generate a corresponding type of automaton correctly, and there are plenty of ways to convert this automaton into some optimized parser program. And conversely, there is a way to convert a parser into a corresponding grammar.

By defining a parser and a syntax which conflict, you are effectively defining two distinct languages and two distinct coresponding programs. And there is talk of convergence... You cannot create an atmosphere suitable for convergence when your two definitions do not converge.

If you are defining two distinct languages(sets of valid strings) and if one of these sets is the subset of the other one, guess which one every parser will choose.

If you want to loosen the syntax, loosen the syntax and make it match the parser. If you want to give a correct and strict parser pseudocode implementation as an example for implementers, do that and make it match the syntax. But making them conflict goes against everything I know about computer science, programming, design. And prescribing half valid(parsable but invalid, parsed with a console log) URLs just makes them practically valid, and fully valid over time. And after this transition happens anyone reading the standard will see it as a needlessly complicated document directly defining some obsolete syntax and indirectly defining the currently accepted syntax through a parser definition. 

Keep it simple. Prescribe or describe, don't do both. If you absolutely have to do both, at least don't do it in a single document. Separate them as clearly as you can. Don't confuse people, don't confuse yourselves.

@bagder 
> I think that is much better as it doesn't imply that two slashes is any sort of rule, just a suggestion.

It is intended to be a rule for people or software writing URLs, and for conformance checkers to check against. It is not intended to be a suggestion.

Someone maintaining a conformance checker would have a harder time to motivate why something is an error if it's only a suggestion in the standard. People writing URLs are more likely to ignore suggestions than rules, which means they will waste more time debugging their mistakes if conformance checkers don't point them out, or they will never notice that their URLs don't work in some legacy user agents that they didn't bother to test. It is worthwhile to do what we can to avoid these things.

> I'm sorry for the imprecision. We often use "all browsers" to mean "the consensus browser behavior, modulo minor deviations and bugs."

Imprecision happens to the number one thing hated by engineers. If you want a new concept of location, **give it a new name**. Call it BRL (browser location) or OBL (omnibar location) or Random(A-Z, 3). Is there any reason for the blatant abuse of synonyms aside from an overt declaration of war?



@Pacerier if this issue was not resolved to your satisfaction I'd like to ask you to please raise a new issue at this point as this was resolved well over half a year ago.

@annevk "resolved"? There has been zero adoption of this.

Not even Google Chrome on Google Android on a Google Nexus 5X will accept URLs based on this standard via the Intent API. And that's a company that took part in writing this.

This standard has failed. Hard.

I'm not sure how that relates to this issue.

This issue complains that the WHATWG pushes a URL definition that only represents a tiny amount of stakeholders as canonical.

No adoption has happened, even by the stakeholders taking part in the issue, since.

As result, maybe the WHATWG should reopen this, and re-evaluate if promoting this definition as the canonical definition of "URL" is a good idea, or if this standard should be dropped.

Why should this standard be dropped, when it's the only one that describes the reality of browsers? You are free to believe that this standard failed, but it is still way more useful that any RFC that preceded it.

@nox This issue thread describes exactly why this standard doesn't describe reality.

It doesn't even come close to describing Safari, or any utility that handles URLs outside of browsers. Not a single programming language changed its stdlib's URL parser according to the standard.

Today, you can not use the URL format given here to give a URL to the Google Chrome browser on Android, instead, to programmatically invoke it, it will only accept RFC-conform URLs.

Out of over a thousand tools, and several hundred URL parsing libraries, and hundreds of browsers, only 3 (!) match what this standard describes today.

The exact same 3 that defined this standard. And, as mentioned above, not even they fully accept it.

Defining "URL" for the entire Internet in a new way requires a definition that also applies to URL parsing libraries in programming languages, that applies to cURL, wget, the Android Intent system, CLI invocations of browsers, and more.

So either rename this, to make it clear you don't even care at all about the ecosystem outside of browsers — as suggested, Web Resource Locator would be one alternative to Uniform Resource Locator — but redefining the Uniform Resource Locator for the entirety of modern information technology requires discussion with more stakeholders (see the libcurl author higher up in this thread complaining), and it requires it to actually stay uniform. The very definition of a uniform resource locator is that there is only a single possible serialization, and only one way to parse it, and that this is standardized across all software.

> It doesn't even come close to describing Safari, or any utility that handles URLs outside of browsers. Not a single programming language changed its stdlib's URL parser according to the standard.

Safari supports more than 2 slashes, but not from the location bar. cURL does too. `rust-url` follows this Standard in its entirety.

> Today, you can not use the URL format given here to give a URL to the Google Chrome browser on Android, instead, to programmatically invoke it, it will only accept RFC-conform URLs.

And what happens if you do `window.location = "http://///////google.com/";`?

> Defining "URL" for the entire Internet in a new way requires a definition that also applies to URL parsing libraries in programming languages, that applies to cURL, wget, the Android Intent system, CLI invocations of browsers, and more.

Well cURL supports more than 2 slashes, and has other RFC deviations for the very reason that RFC don't actually reflect the real world.

> So either rename this, to make it clear you don't even care at all about the ecosystem outside of browsers — as suggested, Web Resource Locator would be one alternative to Uniform Resource Locator — but redefining the Uniform Resource Locator for the entirety of modern information technology requires discussion with more stakeholders (see the libcurl author higher up in this thread complaining), and it requires it to actually stay uniform. The very definition of a uniform resource locator is that there is only a single possible serialization, and only one way to parse it, and that this is standardized across all software.

The Web has a URL interface exposed to JavaScript that requires following this Standard. That ship sailed a long ago and this will never be renamed (that would break webcompat).

> Safari supports more than 2 slashes, but not from the location bar

> Well cURL supports more than 2 slashes, and has other RFC deviations for the very reason that RFC don't actually reflect the real world.

So, it’s not the same everywhere. Useful standard then. I thought a standard is defined as a format that is guaranteed to work everywhere.

> And what happens if you do window.location = "http://///////google.com/";?

That wasn’t the question, the question was if you can invoke it from any other app. And that requires going through the intent system, which uses Java’s URL parser, and heavily differs depending on Android version – on over 90% of devices, you get a MalformedURLException.

> The Web has a URL interface exposed to JavaScript that requires following this Standard. That ship sailed a long ago and this will never be renamed (that would break webcompat).

And in return, it’s better to break the URL standard and the entire ecosystem around it?

If you define a standard, I expect that I can take any data conforming to this standard, and use it *everywhere*. This is not the case with this URL standard. Therefore it is broken.

Addendum: You can always write a standard *stricter* than existing implementations, but never one more lenient than the strictest implementation.

The goal of WHATWG is defining standards that define the most lenient version that is used on the web, and that user agents SHOULD accept, but also the most strictest version that any user agent accepts, and which websites SHOULD provide.

This standard fails to do that.

> So, it’s not the same everywhere. Useful standard then. I thought a standard is defined as a format that is guaranteed to work everywhere.

This specification is designed to be used when parsing URLs from HTML, as used in e.g. the href attribute of an <a> tag. It says nothing about parsing user input in e.g. a location bar. In my browser, typing "some query" into the URL takes me to a search engine, and typing "example.com" navigates me to "http://example.com". This behavior isn't specified by the URL specification, and shouldn't be.

> This specification is designed to be used when parsing URLs from HTML, as used in e.g. the href attribute of an tag.

It specifies how URLs should be parsed and handled from *anywhere* in the Web platform. Which is why browsers (and cURL) support redirecting to `http://///////google.com/`.

> It specifies how URLs should be parsed and handled from anywhere in the Web platform. Which is why browsers (and cURL) support redirecting to http://///////google.com/.

Actually, not just the web platform. http:///url.spec.whatwg.org (oh look, that link doesn’t get autolinked) says that it intends to replace RFC 3986 and RFC 3987 *entirely*. Not just for the web, or for browsers, but for *everything*.

> browsers (and cURL) support redirecting to http://///////google.com/.

Nope, curl does not support that. It only allows a restricted number of slashes. I don't believe accepting unlimited amounts is beneficial for anyone.

@justjanne It is important to note that is is not a 'standard' in the conventional sense, so it's best to just stop caring, as I see it. It'd be one thing if they were trying to standardize user input into browsers' URL input fields, but it really loses any sense of sanity after that point. What the WHATWG defines what they call "working standards", which are, in reality, whatever Google Chrome does, with a bit of input from other browser vendors. It completely ignores anything not a browser, because those are second class citizens.

> What the WHATWG defines what they call "working standards", which are, in reality, whatever Google Chrome does, with a bit of input from other browser vendors. It completely ignores anything not a browser, because those are second class citizens.

Pretty sure Google Chrome isn't the only browser in existence, and that if we were just following what Chrome does we wouldn't have to work so much on specs, could you stop it with these baseless attacks?

@nox That is the exact reason that I mentioned minor input from other vendors, not _everyone_ goes for the Google Chrom* way. Regardless, that wasn't my point in the least. My point was that these aren't conventional standards, and shouldn't be treated as such. I'm sure you'd at least agree with that.

Yeah, and that's a baseless attack. Other browser vendors don't do just "minor input".

@nox Yet, you only contacted browser vendors. You write that the goal of the WHATWG is to

> Align RFC 3986 and RFC 3987 with contemporary implementations and obsolete them in the process.

That includes replacing the URL spec and *every* implementation that uses it. From offline usage to libraries in languages, from autolinking regex used on Android to inter-process communication schemes. From fileformats that use URLs (every XML implementation) to low-level filesystem APIs in every operating system.

If you state that your official goal is to obsolete and replace the standard all these use, you'll need to open a discussion with a great deal more stakeholders. Or you need to go back, and rethink if replacing the entire URL spec, and every usage of it, is such a good idea.

It's easy enough to find emails seeking feedback on this document on various mailing lists, including those controlled by W3C and IETF. Where else would you like us to solicit feedback from?

@annevk let's ask the other way around.

WHATWG officially declared the URL RFCs obsolete.

So, what format should I use to specify URLs in XML files, in my HTML, on Android for Intents, in my file explorer, and elsewhere?

You said your standard hasn't failed, so is there a single place outside of web browsers that has adopted your spec? You say all other specs are obsolete, so can I use your format everywhere now?

Not even your issue tracker has adopted your spec: https:////url.spec.whatwg.org/ — how is this not a failure?

@justjanne I don't understand why the issue tracker would have to accept non-conforming URLs. There's all kind of restrictions and heuristics around plain text URLs that don't normally apply. (This also goes for the address bar as @magcius pointed out, which is UX and has vastly different considerations from URLs transmitted via other means.)

As an example of adoption outside browsers: Node.js ships an implementation.

@annevk Why is it non-conforming? According to the spec on url.spec.whatwg.org, it's a valid URL.

The only spec according to which this isn't a valid URL would be the URL RFCs, but those are obsolete, according to WHATWG.

It's not valid, please see https://url.spec.whatwg.org/#urls.

Mhm, I just found the definition of the scheme limiter in the host string.

So, as your goal was to define URL parsing for any situation, and obsolete all previous ones, but your own issue tracker doesn't use your base URL parser...

What should I use to parse URLs out of plain text that could potentially be of any language (including ones that wouldn't leave word boundaries between text, and a URL)?

I find very little in your spec about these situations, but you said very handwavy that there should be additional restrictions.

Also, the format should be ideally universal and accepted by any system a user might ever enter a URL in, as your standard is not that young anymore, and you said it's successful, I trust that it has been adopted aby any system a user might enter URLs in, so they will be immediately familiar with my interface.

To hopefully clear up any confusion, neither the URL Standard nor the RFCs it obsoletes provides an algorithm for interpreting an arbitrary string of Markdown text and finding URLs within it. That seems to be what you're wondering about, @justjanne, with your discussion of the issue tracker. I believe that might be specified by [CommonMark](http://spec.commonmark.org/), but I am not sure.

Both the URL Standard and the RFCs it obsolete only operate on specific string inputs which are identified as URLs, for example in a `Location:` header or `<a href="">` element. In other surfaces, such as Markdown text, plaintext emails, or location bar entry, different heuristics apply.

For example, as you noted, `https://///url.spec.whatwg.org/` is parsed by `<a href="">` and `Location:` parsers as `https://url.spec.whatwg.org/`. But it isn't parsed that way by GitHub's Markdown parser.

On the other hand, `www.example.com` is parsed by `<a href="">` and `Location:` parsers as a relative URL, so e.g. `https://github.com/whatwg/url/issues/www.example.com`. But if you enter that into Markdown, it is instead parsed as `http://www.example.com/`, with an implicit `http:` and added slash. (Example: www.example.com). Similar considerations apply to the location bar, although that uses different heuristics, e.g. for my browser it parses the input `url` as `https://www.google.com/search?q=url&ie=utf-8&oe=utf-8`.

To reiterate: the URL Standard, like the RFCs before it, consider Markdown and the location bar out of scope. The URL Standard's "valid" definition can be helpful in building heuristics for situations like that, but won't suffice by itself. (E.g. without a base URL, `www.example.com` is not a valid URL.)

@domenic So, you deprecated the URL RFCs, and replaced them with a version that's even more limited in scope? (Because the RFCs at least try to define URLs for all situations — be it XML namespaces, IPC systems, or filesystems).

That's what I'd consider a failure at the goal of universally replacing the RFCs.

And it doesn't help me with parsing URLs (according to whatever definition) out of IRC messages.

I'm not sure where you got that conclusion from my comment.

@domenic

Premise 1: url.spec.whatwg.org defines that its goal is to obsolete and replace all other URL definitions.

Premise 2: the URL RFCs define URL syntax for all use cases, including parsing out of plain text, or in XML namespaces.

Premise 3: you state that the scope of the WHATWG spec is limited to basically only web browsing.

Conclusion: WHATWG is trying to obsolete and replace a spec with one that's far more limited in scope.

I don't how you came to premise 2 and 3, especially after what @domenic just wrote down. They're both incorrect.

@annevk:

Premise 3 comes from

> the URL Standard […] consider Markdown and the location bar out of scope.

Premise 2, I'll just quote RFC 3986

> URIs are often transmitted through formats that do not provide a clear context for their interpretation. For example, there are many occasions when a URI is included in plain text; examples include text sent in email, USENET news, and on printed paper. In such cases, it is important to be able to delimit the URI from the rest of the text, and in particular from punctuation marks that might be mistaken for part of the URI. 

RFC 3986 — which you claim to obsolete and replace — has an entire section on parsing URLs out of plain text.

See: RFC 3986, Appendix C.

> See: RFC 3986, Appendix C.

Nothing in this appendix is normative.

So I still don't see how your standard can be a replacement if you consider an entirely different scope than the RFCs.

And it worries me greatly that you apparently haven't even read the RFCs while trying to replace them.

@nox And yet, it's part of the scope of the RFC, and the normative part mention such situations several times, too.

The RFCs have a far greater scope than this "replacement" claims to have.

> This specification does not place any limits on the nature of a resource, the reasons why an application might seek to refer to a resource, or the kinds of systems that might use URIs for the sake of identifying resources. This specification does not require that a URI persists in identifying the same resource over time, though that is a common goal of all URI schemes.

I could quote half of the RFCs introduction, they make it especially clear that the scope of it is NOT limited to a subset of resources that a web browser might refer to, but it is a spec for any universal usage of an URI, in any situation.

There's no processing requirements for plain text in that RFC. E.g., for http://example.com. there's nothing there that states whether the trailing dot is part of the URL or not. I guess you could assume that the RFC states it should be included, but almost no tool would want that kind of behavior so they'd all violate the RFC.

As for your premises, I don't see how considering the address bar out of scope (which I can tell you it's also for the RFC as no standard gets to dictate UI) means that the URL Standard is only for web browsing. As I told you earlier it's implemented by Node.js.

As for XML namespaces, they're treated as strings (and required as such by the XML specification) so it really doesn't matter whether they're considered in scope or not. I suppose they're in scope for the URL Standard as far as validity is concerned.

The RFC gives recommendations for parsing plain text, but not strict requirements. Your standard — which claims to obsolete the RFCs — hasn't even tried addressing every stakeholder that currently relies on the RFC before declaring it obsolete. Nor does it provide an adequate replacement with identical scope.

Sure it does, there's a whole section on writing URLs, which is perfectly adequate for plain text.

To be honest, I gave up on this specification after https://github.com/whatwg/url/issues/87#issuecomment-257250866 , which explicitly rejects RFC 3986 [Normalization and Comparison](https://tools.ietf.org/html/rfc3986#section-6) and ostensibly allows servers to treat `/-` vs. `/%2D` vs. `/%2d` as distinct. Such a position is impractical (since "comparison methods are designed to minimize false negatives while strictly avoiding false positives"), but also basically impossible to implement in a world where middleboxes _do_ use [syntax-based](https://tools.ietf.org/html/rfc3986#section-6.2.2) and [scheme-based](https://tools.ietf.org/html/rfc3986#section-6.2.3) normalization for equivalence comparison.

The problem could be fixed by defining normalization, which should include specifying a [model](https://github.com/whatwg/url/issues/87#issuecomment-255510163) for addressing invalid input like `/%%2d%2d%3f` (e.g., `/%25--%3F` or `%25%252d-%3F` or `%25%252d%252d%253f` or …), but given an express desire to avoid that I think it's dead in the water.

@gibson042 servers are able to treat those as distinct, they don't have to. I wouldn't mind encouraging them not to, if we can find a suitable algorithm to recommend.

@annevk Servers have the _ability_ to treat them distinctly, but in so doing would be non-conforming with RFC 3986 and not web-compatible. As for a remedy, I gave five options in the original post, and directly linked to them above. If you have changed position and are now amenable to including one here, then let me know and I'll submit a PR.

Yeah, I think it's reasonable to recommend normalization for servers (and maybe even expose it in the JavaScript API at some point). We've had some requests for it.