Parsing URL Path Parameters from RFC 3986

Are the recommendations found within [RFC 3986 Section 3.3 last paragraph](https://tools.ietf.org/html/rfc3986#section-3.3) still applicable for path parameters? There is no mention of them within the WHATWG URL spec.

Okay, thank you very much for a quick response!