[Editorial] Replace the term 'cannot-be-a-base' with hierarchical/non-hierarchical

It is important that users understand the difference between hierarchical/non-hierarchical URLs, as many operations will fail if a URL is non-hierarchical.

However, the term currently used in the spec, 'cannot-be-a-base', is not particularly intuitive. Consider trying to document something like the `hostname` setter:

> This operation fails if the URL cannot be a base

> This operation is only valid if the URL's cannot-be-a-base flag is false

It doesn't read well, and it poses an obvious question: which URLs cannot be a base? Does this affect me? How can I know? Slashes after the scheme delimiter isn't really helpful at a semantic level - it describes how the parser decides whether a URL is hierarchical, but doesn't help users predict whether they should expect to deal with non-hierarchical URLs in their applications.

Or something like a `pathComponents` view:

> cannot-be-a-base URLs do not have path components

> Only base URLs have path components

It's all quite awkward and opaque, IMO.

However, if we rephrased these in terms of hierarchical/non-hierarchical URLs, it all becomes a lot clearer:

`hostname` setter:

> This operation fails if the URL is non-hierarchical

> Only hierarchical URLs may have hostnames

`pathComponents`:

> Non-hierarchical URLs do not have path components

> Only hierarchical URLs have path components

It also makes it a lot easier for libraries to expose the cannot-be-a-base property to users, and explain what it means: a hierarchical URL has an authority component or hierarchical path (i.e. a path beginning with a "/"), also known as a [`hier-part`](https://datatracker.ietf.org/doc/html/rfc3986#section-3) in RFC-3986 terminology. Suddenly it makes sense why the setters of authority components fail on a non-hierarchical URL.

Personally, I think it's better when implementations don't invent their own concepts and are able to refer directly to ideas described in the standard. So, since I think this is something implementations may want to expose to users, I'd like to incorporate this terminology in to the standard. We can keep the term 'cannot-be-a-base' around and simply define it as a synonym for a non-hierarchical URL.

What do people think? This will likely involve a bunch of churn without changes to functionality, so I'd like to get some feedback before working on a PR.

How is this clearer? It just replaces a clear term "cannot be a base", which tells you what is different about these URLs, with an opaque undefined term, "hierarchical".

I have no idea what type of URLs are hierarchical or not... https://www.dictionary.com/browse/hierarchical doesn't help me at all.

@domenic I expect this is a reference to [RFC 3986, Section 1.2.3](https://datatracker.ietf.org/doc/html/rfc3986#section-1.2.3) and, more aptly, the generic syntax.

This comment seems to be a reflection of the concerns in https://datatracker.ietf.org/doc/html/draft-ruby-url-problem-01 and the desire for 3986 syntax to be authoritative (and for all URL schemes to fit neatly in those concepts), which is... ambitiously optimistic, to say the least.

> It just replaces a clear term "cannot be a base", which tells you what is different about these URLs, with an opaque undefined term, "hierarchical".

Except that "cannot be a base" is not a clear term, and it does not tell you what is different about these URLs. Let's say I parse a URL and attempt to set its hostname - where does the concept of a "base" URL come in to that operation? 

And how comes I _can_ use these "cannot be a base" URLs as base URLs if I'm only setting the fragment?

Clearly, "cannot be a base" is not adequately describing these URLs.

The dictionary.com definition is poor, sure. However, there "hierarchical" is not an opaque or undefined term - the components of the path are defined as representing a hierarchy, with ".." components moving up and other components moving down that hierarchical structure.

> This comment seems to be a [...] desire for 3986 syntax to be authoritative

Nope. This comment is motivated by the fact that I was entirely puzzled about what these URLs were supposed to represent or how I could describe them to users in terms of a URL's structure, until I stumbled upon a comment in rust-url calling them "non-hierarchical", and suddenly everything clicked. It's just a better name.


> Clearly, "cannot be a base" is not adequately describing these URLs.

It seems to be very clear in describing what makes them different - they are URLs that cannot be a base. It seems you're looking for a definition that, rather than being based on capability, is based on some other property of the URL. That is, in your definition, you're attempting to define them to be URLs that follow the generic syntax ("`scheme://`"), which then means they have a `hier-part`. That's trying to find a definition based on the syntax, rather than the capability, and then tries to express the capability in terms of the syntax. That approach hasn't really worked out well historically, which is why there's an understandable difficulty trying to see this as clearer.

> The dictionary.com definition is poor, sure. However, there "hierarchical" is not an opaque or undefined term - the components of the path are defined as representing a hierarchy, with ".." components moving up and other components moving down that hierarchical structure.

That's not a correct understanding of hierarchal URLs though. Indeed, the normalization of the base URL is an entirely optional part of RFC 3986, and that normalization is where the ".." removal happens (Specifically, https://datatracker.ietf.org/doc/html/rfc3986#section-5.2.4 is an optional step). As 3986 tries to make clear, the path is actually opaque (notwithstanding that optional syntax).

> It just so happens that 3986 describes this as a hierarchical section. It's a happy coincidence.

That's not really coincidence though. rust-url is using the term from 3986. That you've indirected through that implementation is fine, but it's a term with meaning that comes from RFC 3986. The `hierarchy` being described with respect to hierarchal or non-hierarchal is about the `host` and `port` ("`authority`") and `path` components; that is, a scheme-independent method of expressing a common naming pattern based on hosts and paths.

> It seems to be very clear in describing what makes them different - they are URLs that cannot be a base. It seems you're looking for a definition that, rather than being based on capability, is based on some other property of the URL. 

The issue is that it does not adequately describe their capabilities. Setting the `hostname` or `username` via the URL object's setters does not appear, to a user, to invoke any behaviour related to base or relative URLs.

But yes, I am looking for a definition which is based on the structure of the URL, rather than being a flag set by the parser under arbitrary conditions. FWIW, the JS model described in the standard does not even expose this flag, so users have no way of predicting whether a given URL might be "cannot be a base" (awkward grammar intentional).

> That approach hasn't really worked out well historically, which is why there's an understandable difficulty trying to see this as clearer.

Can you elaborate? More specifically, how is a user of a URL library supposed to know which operations are allowed if the syntax has no predictable relationship to the capabilities?

> That's not a correct understanding of hierarchal URLs though. Indeed, the normalization of the base URL is an entirely optional part of RFC 3986, and that normalization is where the ".." removal happens (Specifically, https://datatracker.ietf.org/doc/html/rfc3986#section-5.2.4 is an optional step). As 3986 tries to make clear, the path is actually opaque (notwithstanding that optional syntax).

I'm not sure why you keep bringing up 3986. I'm talking about this standard. This is what the WHATWG URL Standard says about a URL's path:

> A URL ’s path is a list of zero or more ASCII strings , usually identifying a location in hierarchical form. It is initially empty.

If you follow the parsing logic, there are 2 kinds of paths:

1. Opaque/non-hierarchical - belonging to cannot-be-a-base URLs. These are parsed in the ["cannot-be-a-base-URL path state"](https://url.spec.whatwg.org/#cannot-be-a-base-url-path-state).
2. Hierarchical - belonging to all non-cannot-be-a-base URLs. These are parsed in the regular ["path state"](https://url.spec.whatwg.org/#path-state).

The latter are always interpreted as hierarchical, and always normalized by this standard (even if the ".." components are percent-escaped!). Truly, the "cannot-be-a-base" flag (and logic which sets it) determines whether the path is interpreted as hierarchical or not. That is what I'm trying to make clearer.

It's a fair observation that we use cannot-be-base URL in the serializer to determine how to serialize the path and that does not immediately follow from the name.

However, the uses in the parser would not immediately follow from "path is hierarchical" or "single-path-segment URL" or some such. At least, that's what I think.

It's an interesting question how you'd call this if you were to expose it in an API. I don't have a good answer to that.

Please don't respond in [this][1] way @domenic. 

I've noticed this happening before, and it is very unpleasant. Each time, if I assume good faith, then I have to conclude that you really don't know things that someone in your position should know. Otherwise it comes off as a demeaning way to dismiss someone. 

@karwa his proposal is excellent. It is well motivated and it is clear that he has done his research. I think it deserves a more respectful response than that. 

[1]: https://github.com/whatwg/url/issues/634#issuecomment-908477402


@alwinb I find your meta tone discussion itself dismissive and I'd encourage *you* to assume good faith and please pay attention to the WHATWG code of conduct. This is not appropriate.

No, it is a pattern. 

Someone who has to look up hierarchical in the dictionary would not be the editor of a specification like this. Or does not know that the word is used in the specification that it is at odds with. The same is true for someone who does not understand that a BNF can be used to specify a tree structure and then suggests `.*` as a grammar, which is not even correct. 

I don't think you don't know these things. I think you do know these things and act like you don't as a tactic, and I am calling you out on that. 


My view on this is that, for someone new to the URL specification, the terms _cannot-be-a-base-URL_ and _hierarchical_ are equally opaque. I mean, _I_ understand where each term came from. But at the end of the day, neither term really gives the new spec reader a mental picture of what these URLs look like – even though they are likely to think they have a good idea on what a URL is!

Given that we cannot find a consensus on solely technical grounds, I think pragmatic concerns should be considered:

- Cannot-be-a-base-URL is a mouthful by itself. Using it in a sentence is even worse: "URLs whose cannot-be-a-base-URL is true".

   Granted, we can probably add some syntactic sugar (like "if URL cannot be a base URL, then"), but it is still a lot of words in a word – for English at least.

- "Hierarchical" as a word to describe this property is already familiar to many users. Rust-url definitely exemplifies this usage, but also Chrome's internal URL classes all use "hierarchical".
- People have already pointed out "hierarchical" came from RFCs published by IETF. With such an old and entrenched concept, I think there's value in keeping an old name even if it is not technically the best choice for this concept.

In balance, I tend to prefer hierarchical/non-hierarchical over cannot-be-a-base-URL. However, I'd like it if folks can also entertain the following proposals:

- **rootless URL**: I've seen "rootless" as a term to describe these sad URLs. But that's not quite technically correct either: scheme://example.com doesn't have a path (much less a root), but can be a base URL.
- **opaque-path URL**: describes the fact that the path is opaque (i.e., you can't do algebraic operations on it (`.`, `..` and such) the way you can with file paths). Unlike "hierarchical", one can more easily infer that a URL with opaque path cannot be used for relative resolution. And unlike "cannot-be-a-base-URL", "opaque-path" establishes how the URL looks: there's something weird about the path!

   "Opaque" is also the word [Go](https://pkg.go.dev/net/url#URL.Opaque) decided to use for a field in the URL structure, so there is precedent.

- **sad URL**: these URLs tend to make people (well, those trying to specify URLs at least) sad. At least five issues on this issue tracker and many more have been solely dedicated to make these URLs sort of work. Not sure about everyone else, but whenever I see one of these URLs, I get sad. It also just happens to be the case that "sad" is the shortest contender out here, and terseness is underrated.

**flat-URL**?
Then **flat** and **hierarchical** can be used as complements, so there's no need to use **non-flat** or **non-hierarchical**. 

Having looked at this again I realized that the cannot-be-a-base-URL bit is technically wrong as it can be a base URL if the relative URL starts with `#` (step 2 of no scheme state). https://datatracker.ietf.org/doc/html/rfc3986#section-1.2.3 calls `#` a hierarchical component so arguably saying the URL is not hierarchical would also be wrong as all URLs are at least somewhat hierarchical.

Another thought I had that I rather like is to attempt to change the data model. A path would be either a string or a list of strings. This is essentially what the boolean does, but makes it more explicit by coupling the path and cannot-be-base-URL members together in a single member. And then we could define something like

> A URL _url_ has a **hierarchical path** if its _url_'s path is a list.

as a convenience and use that in various places.

Pretty solid sketch (I hope!) in #655.