http://40000000000 considered as being a wrong URL

I recently opened an issue in https://github.com/nodejs/node/issues/27093 concerning the fact that http://40000000000 was considered as being an invalid url while RFC-1123 clearly states the opposite.

And got redirected here :) 

According to RFC-1123, which defined what is an URL, the URL is valid. 

Indeed, RFC-1123 states:

> The syntax of a legal Internet host name was specified in RFC-952 [DNS:4]. One aspect of host name syntax is hereby changed: the restriction on the first character is relaxed to allow either a letter or a digit.

More http://www.faqs.org/rfcs/rfc1123.html

With RFC-952 stating:

> `<domainname> ::= <hname>`
> `<hname> ::= <name>*["."<name>]`
> `<name> ::= <let>[*[<let-or-digit-or-hyphen>]<let-or-digit>]`

More http://www.faqs.org/rfcs/rfc952.html

On their side both `curl` and `ping` (at least in Windows) consider the domain `40000000000` as being a valid domain.

To my understanding of node's code and of the spec, the issue, if confirmed, comes from the fact that this domain is considered as an invalid IPv4.

Note the DISCUSSION section within Section 2.1 of RFC-1123. The relaxation
of the LDH rule was still intended to be unambiguously parsable as
different from an IP address (particularly in dotted quad form), by virtue
of the fact that all TLDs at the time contained at least one letter, and
subsequent policy by IANA with respect to the functions provided by ICANN
has further codified that all-numeric TLDs will not be introduced.

That other applications accept such is largely due to a lack of
discrimination in processing the authority portion, based on the type of
address supplied - thus causing functions like inet_aton (which, in the BSD
sockets implementation, first introduced handling for such syntactically
invalid IP addresses) to handle this silently and gracefully, despite being
syntactically ambiguous and thus arguably invalid.


The reason we're doing this is because sometimes such numbers (if in the range of an IPv4 address) will parse as IPv4 addresses in some portion of the stack, so we attempt to normalize input to avoid lower layers ending up doing different things on different platforms.

I am still surprised that there is a discrepency between curl, ping, ssh... and the spec detailed in whatwg.

But the wrong behaviour seems to be the one used by curl, ping and ssh.

On Debian GNU/Linux 8.11 (jessie), ping:

```
user@server:~$ ping 12345678901
ping: unknown host 12345678901

user@server:~$ ping 10.123456789
ping: unknown host 10.123456789

user@server:~$ ping 1234567890
PING 1234567890 (73.150.2.210) 56(84) bytes of data.
^C
--- 1234567890 ping statistics ---
2 packets transmitted, 0 received, 100% packet loss, time 999ms

user@server:~$ ping 10.12345678
PING 10.12345678 (10.188.97.78) 56(84) bytes of data.
^C
--- 10.12345678 ping statistics ---
2 packets transmitted, 0 received, 100% packet loss, time 1007ms
```

On Debian GNU/Linux 8.11 (jessie), curl:

```
user@server:~$ curl -v http://12345678901
* Rebuilt URL to: http://12345678901/
* Hostname was NOT found in DNS cache
* Could not resolve host: 12345678901
* Closing connection 0
curl: (6) Could not resolve host: 12345678901

user@server:~$ curl -v http://1234567890
* Rebuilt URL to: http://1234567890/
* Hostname was NOT found in DNS cache
*   Trying 73.150.2.210...
```

On Debian GNU/Linux 8.11 (jessie), ssh:

```
user@server:~$ ssh -v p@12345678901
OpenSSH_6.7p1 Debian-5+deb8u7, OpenSSL 1.0.1t  3 May 2016
debug1: Reading configuration data /etc/ssh/ssh_config
debug1: /etc/ssh/ssh_config line 19: Applying options for *
ssh: Could not resolve hostname 12345678901: Name or service not known

user@server:~$ ssh -v p@1234567890
OpenSSH_6.7p1 Debian-5+deb8u7, OpenSSL 1.0.1t  3 May 2016
debug1: Reading configuration data /etc/ssh/ssh_config
debug1: /etc/ssh/ssh_config line 19: Applying options for *
debug1: Connecting to 1234567890 [73.150.2.210] port 22.
```

Same on Windows 10 for ping and curl (using CMD).

The remark stated in the RFC is:
> However, a valid host name can never have the dotted-decimal form #.#.#.#, since at least the highest-level component label will be alphabetic.

For me it means that 10000.333.222.111111 is clearly considered to be invalid.
It also confirms your statement: the latest label must at least have one alphabetic character (or at least I understand that).


Closing because of (in the RFC):

> However, a valid host name can never have the dotted-decimal form #.#.#.#, since at least the highest-level component label will be alphabetic.
