All the other network schemes

A quote from the text:

> A network scheme is a scheme that is "ftp" or an HTTP(S) scheme.

but even this spec itself refers to "gopher" just lines above. Is gopher not a network scheme? How about IMAP, TELNET or any of the large amount of other clearly networked schemes that are standardized?

We should maybe rename it to "fetch network scheme" or get rid of it entirely. It's fairly limited and might go away anyway since browsers are slowly dropping FTP support.

So this spec is only for "browsers" ? (and I'm not suggesting I can define what exactly a browser is)

No it's not, just that particular definition might be more relevant to web user agents, but the standard itself doesn't use it. We could probably move most of them to Fetch, that might make more sense.

Even web user agents can and will support other schemes. URLs have been defined for a long time and now cover a fairly vast amount of schemes. Even a few that were never even formally brought through the entire RFC process (SFTP and SCP come to mind).

I think this spec would benefit by acknowledging that fact and a start in that direction would be to specifically talk about specifying the syntax for "http(s):" and "ftp:". And to not talk about it being "for browsers" or "web user agents" because we don't have separate URL specs for separate use cases, we just have URL specs.

That seems like a separate issue from how we name a set of URLs and where we put that definition?

Also, as I said, we can move that definition elsewhere as URL doesn't even use it, meaning URL would no longer have a specific definition for web user agents / browsers. I don't really get your reply.

If you don't limit "URLs" to a specific set of schemes at all, then I'm fine with it. But as this spec is not gonna work for the ones that aren't http/https or ftp, I think it should rather clarify and say that this spec is *only* for [list of schemes] and that the others are out of scope.

> URL would no longer have a specific definition for web user agents / browsers

That was more of a general reply as it is a common argument brought up and the current draft still mentions "Non-web-browser" in one place as a way to say that some category of user-agents should act differently than others.

The URL standard works for all schemes. The definition of "network scheme" is a specification-device for use in specific contexts, it doesn't have any influence on the URL parser or some such. (You can click on it to see where it is used.)

Scheme-specific processing generally shouldn't happen in the URL parser. That it happens at all in the URL Standard is an enshrined legacy bug. Scheme-specific processing should happen on top of a URL record, in a different layer of the system.

Removing these definitions would involve changes to:

* CSP
* Fetch
* HTML

Maybe more? They should all land at the same time ideally.

> Scheme-specific processing generally shouldn't happen in the URL parser

No, you're right that it shouldn't and it goes off topic for this issue, as we've already reached a good conclusion on this, but...

For example, this URL spec goes into exact detail how to parse the 'userinfo' part ([section 3.2.1 in RFC3986](https://tools.ietf.org/html/rfc3986#section-3.2.1)) while schemes such as pop (RFC 2384) and imap (RFC 5092) are very clearly *not* parsed the same way as http/ftp there. I'm thinking primarily of the `;auth=` thing they have.

So, a truly scheme-agnostic spec could say that everything until the '@' is the userinfo part that is treated in a scheme-specific way, and then describe how these particular schemes parse it. Since @ isn't treated as a userinfo and hostname separator anymore, it is a bit complicated.

@ is still treated that way. It's just that we take the last (to some approximation), not the first instance. But that's only error handling as a conforming URL cannot include it more than once anyway before the host.

@bagder Please file separate issues for separate topics.

I posted a series of PRs (linked above by GitHub) that should fix this. Review appreciated.